.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
  /* Fit 1st row to content. Fill remaining space with 2nd row. */
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "filter map"
  "list map";
}

.LocationsFilter {
  background-color: #42a5f5;
  display: flex;
  text-align: center;
}

.LocationsFilter .sidebar-heading {
  font-size: 16px;
  width: 50%;
}

.LocationsFilter select {
  background-color: #0077c2;
  width: 50%;
  text-align-last: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.LocationsFilter select:hover,
.LocationsFilter select:focus {
  background-color: #ff867a;
  width: 50%;
  text-align-last: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.LocationsList {
  background-color: #80d6ff;
  grid-area: list;
  text-align: center;
}

.LocationsList-list {
  padding: 0;
  margin: 0;
}

.LocationsList-item {
  background-color: #80d6ff;
  list-style: none;
  padding: 4px 16px;
  border-bottom: solid 1px #42a5f4;
}

.LocationsList-item:hover,
.LocationsList-item:focus {
  background-color: #ff867c;
  font-weight: bold;
  list-style: none;
  padding: 4px 16px;
  border-bottom: solid 1px #42a5f4;
}

.CityMap {
  grid-area: map;
}

.CityMap-map {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "filter"
    "list"
    "map";
  }
}
